.add-department-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin: 40px auto;
}

.add-department-form .input-about {
    grid-row: 2/2;
}

.add-department-form .add-button {
    grid-row: 3/4;
    width: 30%;
}

.add-department-form img {
    width: 30%;
    margin-top: 10px;
    border-radius: 10px;
}